In [1]:
#sparksession

from pyspark.sql import SparkSession

spark=SparkSession.builder.appName("new").master("local[*]").getOrCreate()
spark


#You can utilize all cores via "local[*]", but there are no separate executors, just parallel threads in the same process. 
#there is no concept of executors in local all the cores will be shown as driver in spark UI

In [2]:
# Extended employee data
employee_data = [
    ("101", "Alice Smith", "HR", "Manager", 75000),
    ("102", "Bob Johnson", "Engineering", "Developer", 80000),
    ("103", "Charlie Brown", "Marketing", "Analyst", 60000),
    ("104", "Diana Prince", "Engineering", "Senior Developer", 95000),
    ("105", "Ethan Hunt", "Sales", "Sales Executive", 70000),
    ("106", "Fiona Gallagher", "HR", "Recruiter", 55000),
    ("107", "George Lucas", "Engineering", "Developer", 82000),
    ("108", "Hannah Baker", "Marketing", "Social Media Specialist", 58000),
    ("109", "Ian Malcolm", "Sales", "Sales Manager", 90000),
    ("110", "Julia Roberts", "Engineering", "DevOps Engineer", 88000)
]

# Schema
employee_schema = ["employee_id", "name", "department", "role", "salary"]

# Create DataFrame
employee_df = spark.createDataFrame(employee_data, schema=employee_schema)

# Show DataFrame
employee_df.show()

+-----------+---------------+-----------+--------------------+------+
|employee_id|           name| department|                role|salary|
+-----------+---------------+-----------+--------------------+------+
|        101|    Alice Smith|         HR|             Manager| 75000|
|        102|    Bob Johnson|Engineering|           Developer| 80000|
|        103|  Charlie Brown|  Marketing|             Analyst| 60000|
|        104|   Diana Prince|Engineering|    Senior Developer| 95000|
|        105|     Ethan Hunt|      Sales|     Sales Executive| 70000|
|        106|Fiona Gallagher|         HR|           Recruiter| 55000|
|        107|   George Lucas|Engineering|           Developer| 82000|
|        108|   Hannah Baker|  Marketing|Social Media Spec...| 58000|
|        109|    Ian Malcolm|      Sales|       Sales Manager| 90000|
|        110|  Julia Roberts|Engineering|     DevOps Engineer| 88000|
+-----------+---------------+-----------+--------------------+------+

In [7]:
ls -ltrh employee_table.parquet/

total 40K
-rw-r--r-- 1 root root 1.7K Sep 10 08:47 part-00009-73aeb35a-519a-4647-bf1d-b20816f327b7-c000.snappy.parquet
-rw-r--r-- 1 root root 1.6K Sep 10 08:47 part-00008-73aeb35a-519a-4647-bf1d-b20816f327b7-c000.snappy.parquet
-rw-r--r-- 1 root root 1.7K Sep 10 08:47 part-00007-73aeb35a-519a-4647-bf1d-b20816f327b7-c000.snappy.parquet
-rw-r--r-- 1 root root 1.6K Sep 10 08:47 part-00006-73aeb35a-519a-4647-bf1d-b20816f327b7-c000.snappy.parquet
-rw-r--r-- 1 root root 1.6K Sep 10 08:47 part-00005-73aeb35a-519a-4647-bf1d-b20816f327b7-c000.snappy.parquet
-rw-r--r-- 1 root root 1.6K Sep 10 08:47 part-00004-73aeb35a-519a-4647-bf1d-b20816f327b7-c000.snappy.parquet
-rw-r--r-- 1 root root 1.7K Sep 10 08:47 part-00003-73aeb35a-519a-4647-bf1d-b20816f327b7-c000.snappy.parquet
-rw-r--r-- 1 root root 1.6K Sep 10 08:47 part-00002-73aeb35a-519a-4647-bf1d-b20816f327b7-c000.snappy.parquet
-rw-r--r-- 1 root root 1.6K Sep 10 08:47 part-00001-73aeb35a-519a-4647-bf1d-b20816f327b7-c000.snappy.parquet
-rw-r--r-- 1 root root 1.5K Sep 10 08:47 part-00000-73aeb35a-519a-4647-bf1d-b20816f327b7-c000.snappy.parquet
-rw-r--r-- 1 root root    0 Sep 10 08:47 _SUCCESS

In [6]:
# Read the parquet file
employee_df_loaded = spark.read.parquet("employee_table.parquet/")

# Show the data
employee_df_loaded.show()

+-----------+---------------+-----------+--------------------+------+
|employee_id|           name| department|                role|salary|
+-----------+---------------+-----------+--------------------+------+
|        108|   Hannah Baker|  Marketing|Social Media Spec...| 58000|
|        110|  Julia Roberts|Engineering|     DevOps Engineer| 88000|
|        104|   Diana Prince|Engineering|    Senior Developer| 95000|
|        107|   George Lucas|Engineering|           Developer| 82000|
|        102|    Bob Johnson|Engineering|           Developer| 80000|
|        105|     Ethan Hunt|      Sales|     Sales Executive| 70000|
|        103|  Charlie Brown|  Marketing|             Analyst| 60000|
|        109|    Ian Malcolm|      Sales|       Sales Manager| 90000|
|        106|Fiona Gallagher|         HR|           Recruiter| 55000|
|        101|    Alice Smith|         HR|             Manager| 75000|
+-----------+---------------+-----------+--------------------+------+

In [8]:
employee_df_loaded.cache().count()

10

In [9]:
employee_df_loaded.show()

+-----------+---------------+-----------+--------------------+------+
|employee_id|           name| department|                role|salary|
+-----------+---------------+-----------+--------------------+------+
|        108|   Hannah Baker|  Marketing|Social Media Spec...| 58000|
|        110|  Julia Roberts|Engineering|     DevOps Engineer| 88000|
|        104|   Diana Prince|Engineering|    Senior Developer| 95000|
|        107|   George Lucas|Engineering|           Developer| 82000|
|        102|    Bob Johnson|Engineering|           Developer| 80000|
|        105|     Ethan Hunt|      Sales|     Sales Executive| 70000|
|        103|  Charlie Brown|  Marketing|             Analyst| 60000|
|        109|    Ian Malcolm|      Sales|       Sales Manager| 90000|
|        106|Fiona Gallagher|         HR|           Recruiter| 55000|
|        101|    Alice Smith|         HR|             Manager| 75000|
+-----------+---------------+-----------+--------------------+------+

In [14]:
spark.conf.set("spark.sql.adaptive.enabled", "false")

In [17]:
# Read the parquet file
employee_df_loaded1 = spark.read.parquet("employee_table.parquet/")

# Show the data
employee_df_loaded1.show()

+-----------+---------------+-----------+--------------------+------+
|employee_id|           name| department|                role|salary|
+-----------+---------------+-----------+--------------------+------+
|        108|   Hannah Baker|  Marketing|Social Media Spec...| 58000|
|        110|  Julia Roberts|Engineering|     DevOps Engineer| 88000|
|        104|   Diana Prince|Engineering|    Senior Developer| 95000|
|        107|   George Lucas|Engineering|           Developer| 82000|
|        102|    Bob Johnson|Engineering|           Developer| 80000|
|        105|     Ethan Hunt|      Sales|     Sales Executive| 70000|
|        103|  Charlie Brown|  Marketing|             Analyst| 60000|
|        109|    Ian Malcolm|      Sales|       Sales Manager| 90000|
|        106|Fiona Gallagher|         HR|           Recruiter| 55000|
|        101|    Alice Smith|         HR|             Manager| 75000|
+-----------+---------------+-----------+--------------------+------+

In [16]:
employee_df_loaded1.cache().count()

10